@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SoundPirates</h1>
    <p class="lead">
        <pre>
                Hello Folks,
                A better way to share music with world. <b>Its free and always be.</b>
            
                <i>[Unnat Pandya]</i>
        </pre>
        <div class="row">
            <label class="col-sm-11 control-label">SignUp</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="txtSignUpUsername" name="txtSignUpUsername" placeholder="Username or Email">
                <input class="form-control" type="password" id="txtSignUpPassword" name="txtSignUpPassword" placeholder="Password">
                <input class="form-control" type="password" id="txtSignUpUsername" name="txtSignUpUsername" placeholder="Confirm Password">
                <input class="btn btn-default btn-block" type="submit" id="btnSignUp" name="btnSignUp" value="Sign Up">
            </div><br /><br />
            @*<div class="col-sm-10">
                <input class="form-control" type="password" id="txtSignUpPassword" name="txtSignUpPassword" placeholder="Password">
            </div><br /><br />
            <div class="col-sm-10">
                <input class="form-control" type="password" id="txtSignUpUsername" name="txtSignUpUsername" placeholder="Confirm Password">
            </div><br /><br />
            <div class="col-sm-10">
                <input class="btn btn-default btn-block" type="submit" id="btnSignUp" name="btnSignUp" value="Sign Up">
            </div><br /><br />*@
            <hr style="height:100px; width: 10px;"/>

        </div>
    </p>
</div>